body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.content {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 10px 0 #e1e1e1;
}

a {
  text-decoration: none;
}

.img {
  max-width: 100%;
  height: auto;
}

.button {
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #766357;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #604e43;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-logo {
  position: absolute;
  width: 138px;
  margin: 0 auto;
  top: 0;
  left: 50%;
  margin-left: -69px;
}

.site-navigation {
  display: flex;
  list-style: none;
  width: 1200px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.site-navigation li {
  width: 300px;
  box-sizing: border-box;
}

.site-navigation a {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
}

.site-navigation li:nth-child(1) {
  padding-left: 72px;
  text-align: left;
}

.site-navigation li:nth-child(2) {
  padding-left: 13px;
  text-align: left;
}

.site-navigation li:nth-child(3) {
  padding-right: 13px;
  text-align: right;
}

.site-navigation li:nth-child(4) {
  padding-right: 72px;
  text-align: right;
}

.main-navigation a {
  color: #000000;
  font-weight: bold;
}

.main-navigation a.active {
  color: #766357;
}

.main-navigation a:hover,
.main-navigation a:focus {
  color: #81b3d2;
}

.main-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-header {
  padding-top: 76px;
  padding-bottom: 70px;
  background-color: #91b8d7;
  background-image: url("../img/mask_header.png"), url("../img/background_photo.jpg");
  background-position: center bottom, top center;
  background-repeat: no-repeat, no-repeat;
}

.main-header-text {
  width: 458px;
  margin: 0 auto;
}

.text-block {
  text-align: center;
  margin: 0;
  padding-top: 60px;
  padding-bottom: 49px;
  
}

.slogan {
  color: #000000;
  font-size: 21px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 30px;
  padding-right: 312px;
  padding-left: 312px;
}

.text-block-text {
  margin: 0;
}

.reason-item {
  display: flex;
  background-color: #81b3d2;
  color: #ffffff;
  line-height: 21px;
}

.reason-item-text {
  text-align: center;
  width: 400px;
  padding-top: 48px;
  padding-bottom: 60px;
}

.reason-item-img {
  width: 800px;
  overflow: hidden;
}

.reason-item-img img {
  display: block;
  height: 256px;
}

.reason-item-reverse {
  flex-direction: row-reverse;
}

.reason-item h3,
.reasons h3 {
  font-size: 21px;
  margin: 0;
  margin-bottom: 23px;
}

.reason-item-text p {
  margin: 0;
}

.reason-number {
  margin-bottom: 23px;
}

.recommendations-list {
  box-sizing: border-box;
  display: flex;
  list-style: none;
  text-align: center;
  line-height: 21px;
  padding: 0;
  padding-top: 60px;
  padding-bottom: 83px;
  margin: 0;
}

.recommendation-item {
  width: 400px;
  box-sizing: border-box;
}

.recommendation-item img {
  margin-bottom: 25px;
}

.recommendation-item h3 {
  color: #000000;
  font-size: 21px;
  margin: 0;
  margin-bottom: 23px;
}

.recommendation-item p {
  margin: 0;
}


.reasons {
  background-color: #eeeeee;
}

.reasons-list {
  display: flex;
  list-style: none;
  line-height: 21px;
  margin: 0;
  padding: 0;
  padding-top: 50px;
  padding-bottom: 60px;
  
}

.reasons-list li {
  text-align: center;
  box-sizing: border-box;
  width: 400px;
  margin: 0;
  padding: 0;
}

.reasons-list h3 {
  color: #000000;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
}

.reason-number {
  display: inline-block;
  margin-bottom: 20px;
}

.reasons-list p {
  padding: 0;
  margin: 0;
}

.searching {
  padding: 0;
  margin: 0;
  padding-top: 50px;
  
}

.searching-text {
  text-align: center;
}

.searching h2 {
  font-size: 30px;
  color: #000000;
  line-height: 36px;
  margin: 0;
  margin-bottom: 25px;
}

.searching-text p {
  margin: 0;
  margin-bottom: 50px;
}

.searching-box {
  position: relative;
  width: 568px;
  margin: 0 auto;
  background-color: gray;
}

.btn-search {
  font-size: 21px;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 30px; 
}

.form-wrapper {
  position: absolute;
  z-index: 2;
  background-color: #ffffff;
  width: 568px;
  padding-top: 55px;
  padding-bottom: 55px;
}

.searching-form {
  box-sizing: border-box;
  width: 458px;
  margin: 0 auto;
  color: #000000;
  font-weight: bold;
}

.searching-form input {
  box-sizing: border-box;
  font-weight: bold;
  vertical-align: middle;
  background-color: #f2f2f2;
  border: none;
  height: 38px;
  width: 346px;
  padding: 0;
}

.searching-form input:hover,
.searching-form input:focus {
  background-color: #ebebeb;
}

.searching-form input:active {
  background-color: #ffffff;
  border-color: #e5e5e5;
}

.searching-form-date {
  display: flex;
  width: 458px;
  margin: 0;
  margin-bottom: 30px;
}

.searching-form-date input {
  padding-left: 15px;
  text-transform: uppercase;
}

.searching-form label {
  display: flex;
  width: 112px;
  box-sizing: border-box;
  align-items: center;
}

.searching-form-quantity {
  display: flex;
  width: 458px;
  margin: 0;
}

.searching-form-quantity label {
  vertical-align: top;
}

.searching-form-quantity input {
  text-align: center;
  width: 114px;
  margin: 0;
}

.searching-form-quantity label[for="children-quantity"] {
  width: 118px;
  padding-left: 55px;
}

input.finder-btn {
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: #81b3d2;
  color: #ffffff;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 40px;
  margin-top: 55px;
}

input.finder-btn:hover,
.finder-btn:focus {
  background-color: #669ec0;
}

input.finder-btn:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.map {
  background-color: #e5e5e5;
  height: 593px;
}

.main-footer {
  background-color: rgba(254, 254, 254, 0.1);
  display: flex;
  min-height: 120px;
}

.footer-item {
  box-sizing: border-box;
  align-self: center;
  justify-content: center;
  width: 400px;
  margin: 0;
  padding: 0;
}

.footer-hashtag {
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  color: #000000;
}

.social-btn-list {
  display: flex;
  list-style: none;
  width: 400px;
}

.social-btn-list li {
  margin-right: 6px;
}

.social-btn-list a {
  background-color: #81b3d2;
  color: #ffffff;
}

.social-btn-list a:hover,
.social-btn-list a:focus {
  background-color: #669ec0;
}

.social-btn-list a:active {
  background-color: #5496bd;
}

.footer-copyright {
  display: flex;
  align-content: center;
}

.footer-copyright-text {
  line-height: 26px;
  color: #000000;
  margin: 0;
  align-self: center;
  margin-right: 10px;
}

.footer-logo {
  height: 41px;
  align-self: center;
}

.filter-search-options {
  display: flex;
  width: 600px;
}

.filter-search fieldset:first-child {
  padding: 0;
  margin-right: 115px;
}

.filter-search-price {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.filter-search {
  display: flex;
  color: #ffffff;
  background-color: #81b3d2;
  background-image: url("../img/inner_bcg_.jpg");
  padding: 25px 72px;
}

.filter-search legend {
  font-size: 16px;
  font-weight: bold;
}

.filter-list {
  list-style: none;
}

.filter-search-btn {
  background: none;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
}

.filter-search-btn:hover,
.filter-search-btn:focus,
.filter-search-btn:active {
  background-color: #ffffff;
  color: #000000;
}

.sorting {
  display: flex;
  padding-top: 30px;
  padding-right: 72px;
  padding-bottom: 28px;
  padding-left: 72px;
}

.sorting-text {
  display: flex;
  width: 600px;
  
}

.sorting-list-btn {
  display: flex;
  justify-content: flex-end;
  width: 241px;
  margin-left: auto;
}

.sorting h3 {
  font-size: 21px;
  white-space: nowrap;
  color: #000000;
  margin: 0;
  margin-right: 47px;
}

.sorting p {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  margin: 0;
  margin-right: 40px;
}

.sorting-list {
  display: flex;
  align-items: center;
  list-style: none;
  line-height: 18px;
  font-size: 12px;
  margin: 0;
  padding: 0;
  width: 249px;
  white-space: nowrap;
}

.sorting-list li:first-child,
.sorting-list li:nth-child(2) {
  margin-right: 32px;
}

.sorting-list a {
  color: rgba(0, 0, 0, 0.3);
}

a.sorting-list-active {
  color: #81b3d2;
}

.sorting-list a:hover,
.sorting-list a:focus {
  color: #81b3d2;
}

.sorting-list a:active {
  color: #000000;
}

a.sorting-list-active:active {
  color: #81b3d2;
}

.hotels-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.hotels-list-item {
  display: flex;
  padding-right: 72px;
  padding-left: 72px;
  padding-top: 25px;
  padding-bottom: 31px;
  border-top: 1px solid #e5e5e5; 
}

.hotels-list-item:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.hotel {
  display: flex;
}

.hotel img {
  margin-right: 30px;
  align-self: flex-end;
  height: 90px;
}

.hotel-information {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}


.hotel-name {
  font-size: 21px;
  margin: 0;
  margin-bottom: 6px;
}

.hotel-name a {
  color: #000000;
}

.hotel-name a:hover,
.hotel-name a:focus {
  color: #81b3d2;
}

.hotel-name a:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-data {
  display: flex;
  margin-bottom: 10px;
}

.hotel-type {
  width: 110px;
  margin-right: 5px;
}

.hotel-more {
  display: inline-block;
  width: 110px;
  font: inherit;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
  margin: 0;
}

.hotel-more:hover,
.hotel-more:focus {
  background-color: #669ec0;
}

.hotel-more:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-book-btn {
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px; 
  padding-left: 15px;
  padding-right: 20px;
}

.hotel-rating {
  
  display: flex;
  width: 241px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  text-align: center;
  margin-left: auto;
}

.hotel-rating-text {
  box-sizing: border-box;
  color: #666666;
  vertical-align: middle;
  line-height: 21px;
  font-size: 14px;
  background-color: #f2f2f2;
  margin: 0;
  height: 27px;
  padding-left: 15px;
  padding-right: 11px;
  padding-top: 3px;
  
}
