body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.content {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 10px 0 #e1e1e1;
}

a {
  text-decoration: none;
}

.img {
  max-width: 100%;
  height: auto;
}

.button {
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #766357;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #604e43;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-logo {
  position: absolute;
  width: 138px;
  margin: 0 auto;
  top: 0;
  left: 50%;
  margin-left: -69px;
}

.site-navigation {
  display: flex;
  list-style: none;
  width: 1200px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.site-navigation li {
  width: 300px;
  padding-top: 15px;
  padding-bottom: 15px;
  box-sizing: border-box;
}

.site-navigation li:nth-child(1) {
  padding-left: 72px;
  text-align: left;
}

.site-navigation li:nth-child(2) {
  padding-left: 13px;
  text-align: left;
}

.site-navigation li:nth-child(3) {
  padding-right: 13px;
  text-align: right;
}

.site-navigation li:nth-child(4) {
  padding-right: 72px;
  text-align: right;
}

.main-navigation a {
  color: #000000;
  font-weight: bold;
}

.main-navigation a:hover,
.main-navigation a:focus {
  color: #81b3d2;
}

a.site-navigation-active,
a.site-navigation-active:hover,
a.site-navigation-active:focus,
a.site-navigation-active:active {
  color: #766357;
}

.main-header {
  padding-top: 76px;
  padding-bottom: 70px;
  background-color: #91b8d7;
  background-image: url("../img/mask_header.png"), url("../img/background_photo.jpg");
  background-position: center bottom, top center;
  background-repeat: no-repeat, no-repeat;
}

.main-header-text {
  width: 458px;
  margin: 0 auto;
}

.text-block {
  text-align: center;
  margin: 0;
  padding-top: 60px;
  padding-bottom: 49px;
}

.slogan {
  color: #000000;
  font-size: 21px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 30px;
  padding-right: 312px;
  padding-left: 312px;
}

.text-block-text {
  margin: 0;
}

.reason-item {
  display: flex;
  background-color: #81b3d2;
  color: #ffffff;
  line-height: 21px;
}

.reason-item-text {
  text-align: center;
  width: 400px;
  padding-top: 48px;
  padding-bottom: 60px;
}

.reason-item h3,
.reasons h3 {
  font-size: 21px;
  width: 152px;
  margin: 0 auto;
  margin-bottom: 23px;
}

.reason-number {
  margin-bottom: 23px;
  position: relative;
}

.reason-number::before {
  position: absolute;
  left: 175px;
  top: 9px;
  content: "";
  width: 9px;
  height: 2px;
  background-color: #ffffff;
}

.reason-number::after {
  position: absolute;
  left: 216px;
  top: 9px;
  content: "";
  width: 9px;
  height: 2px;
  background-color: #ffffff;
}

.reasons-reason-number::before,
.reasons-reason-number::after {
  background-color: #333333;
}

.reason-item-text p {
  width: 305px;
  margin: 0 auto;
}

.reason-item-img {
  width: 800px;
  overflow: hidden;
  /* проверить hidden */
}

.reason-item-img img {
  display: block;
  height: 256px;
  /* проверить */
}

.reason-item-reverse {
  flex-direction: row-reverse;
  /* check */
}

.recommendations-list {
  box-sizing: border-box;
  display: flex;
  list-style: none;
  text-align: center;
  line-height: 21px;
  padding: 0;
  padding-top: 55px;
  padding-bottom: 81px;
  margin: 0;
}

.recommendation-item {
  width: 400px;
  box-sizing: border-box;
}

.recomendation-item-img-1 {
  margin: 0 auto;
  margin-bottom: 29px;
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: center center;
  height: 76px;
}

.recomendation-item-img-2 {
  margin: 0 auto;
  margin-bottom: 29px;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: center center;
  height: 76px;
}

.recomendation-item-img-3 {
  margin: 0 auto;
  margin-bottom: 30px;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: center center;
  height: 76px;
}

.recommendation-item h3 {
  color: #000000;
  font-size: 21px;
  margin: 0;
  margin-bottom: 23px;
}

.recommendation-item p {
  margin: 0 auto;
  width: 290px;
}

.reasons {
  background-color: #eeeeee;
}

.reasons-list {
  display: flex;
  list-style: none;
  line-height: 21px;
  margin: 0;
  padding: 0;
  padding-top: 50px;
  padding-bottom: 60px;
}

.reasons-list li {
  text-align: center;
  box-sizing: border-box;
  width: 400px;
  margin: 0;
  padding: 0;
}

.reasons-list h3 {
  color: #000000;
  margin: 0 auto;
  margin-bottom: 23px;
  padding: 0;
}

.reason-number {
  display: block;
  margin-bottom: 20px;
}

.reasons-list p {
  width: 271px;
  padding: 0;
  margin: 0 auto;
}

.searching {
  padding: 0;
  margin: 0;
  padding-top: 50px;
}

.searching>p {
  width: 436px;
  margin: 0 auto;
  margin-bottom: 46px;
  text-align: center;
  line-height: 24px;
}

.searching h2 {
  text-align: center;
  font-size: 30px;
  color: #000000;
  line-height: 36px;
  margin: 0 auto;
  margin-bottom: 23px;
}

.searching-box {
  position: relative;
  width: 568px;
  margin: 0 auto;
  background-color: gray;
}

.btn-search {
  font-size: 21px;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 30px;
  cursor: pointer;
}

.form-wrapper {
  display: block;
  /* check */
  position: absolute;
  z-index: 2;
  /* check */
  background-color: #ffffff;
  width: 568px;
  padding-top: 55px;
  padding-bottom: 55px;
  animation-name: bounce;
  animation-duration: 0.3s;
  transform-origin: top;
}

.form-wrapper-show {
  display: none;
}

@keyframes bounce {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

.searching-form {
  box-sizing: border-box;
  width: 458px;
  margin: 0 auto;
  color: #000000;
  font-weight: bold;
}

.searching-form input {
  box-sizing: border-box;
  font-weight: bold;
  vertical-align: middle;
  background-color: #f2f2f2;
  border: none;
  height: 38px;
  width: 346px;
  padding: 0;
}

.searching-form input[name="date"]:hover {
  background-color: #ebebeb;
}

.searching-form input[name="date"]:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.searching-form-date {
  display: flex;
  width: 458px;
  margin: 0;
  margin-bottom: 30px;
}

.searching-form-date input {
  padding-left: 12px;
  padding-right: 31px;
  text-transform: uppercase;
}

.searching-form input::placeholder {
  color: black;
}

.searching-form-date {
  position: relative;
}

.searching-form-calendar {
  position: absolute;
  right: 9px;
  top: 8px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.searching-form-calendar:hover path,
.searching-form-calendar:focus path {
  fill: #000000;
}

.searching-form-calendar:active path {
  fill: #81b3d2;
}

.searching-form label {
  display: flex;
  width: 112px;
  box-sizing: border-box;
  align-items: center;
}

.searching-form-quantity {
  display: flex;
  width: 458px;
  margin: 0;
}

.searching-form-quantity label {
  vertical-align: top;
}

.searching-form-quantity input {
  text-align: center;
  width: 38px;
  margin: 0;
}

.searching-form-quantity label[for="children-quantity"] {
  width: 118px;
  padding-left: 55px;
}

.btn-back {
  width: 38px;
  border: none;
  background-color: #f2f2f2;
  cursor: pointer;
}

.btn-back:hover line,
.btn-back:focus line,
.btn-next:hover line,
.btn-next:focus line {
  stroke: #000000;
}

.btn-back:active line,
.btn-next:active line {
  stroke: #81b3d2;
}

.btn-next {
  width: 38px;
  border: none;
  background-color: #f2f2f2;
  cursor: pointer;
}

input.finder-btn {
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: #81b3d2;
  color: #ffffff;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 42px;
  margin-top: 54px;
  cursor: pointer;
}

input.finder-btn:hover,
.finder-btn:focus {
  background-color: #669ec0;
}

input.finder-btn:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.map {
  background-color: #e5e5e5;
  height: 593px;
}

.footer {
  background-color: rgba(254, 254, 254, 0.9);
  display: flex;
  padding-top: 35px;
  padding-bottom: 35px;
  align-items: center;
}

.footer-main {
  position: absolute;
  bottom: 0;
}

.footer-item {
  box-sizing: border-box;
  justify-content: center;
  align-content: center;
  width: 400px;
  margin: 0;
  padding: 0;
}

.footer-hashtag {
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  color: #000000;
}

.social-btn-list {
  display: flex;
  list-style: none;
}

.social-btn-list li {
  margin-right: 6px;
}

.social-btn-list li:last-child {
  margin-right: 0;
}

.social-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #81b3d2;
  color: #ffffff;
  width: 46px;
  height: 48px;
}

.social-btn:hover,
.social-btn:focus {
  background-color: #669ec0;
}

.social-btn:active {
  background-color: #5496bd;
}

.social-btn:active path {
  opacity: 0.3;
}

.footer-copyright {
  display: flex;
  align-content: center;
}

.footer-copyright-text {
  line-height: 26px;
  color: #000000;
  margin: 0;
  align-self: center;
  margin-right: 10px;
}

.footer-logo {
  height: 41px;
  align-self: center;
}

.footer-logo svg {
  width: 115px;
  height: 42px;
}

.footer-logo:hover path,
.footer-logo:focus path {
  fill: #81b3d2;
}

.footer-logo:active path {
  fill: #bdbbbc;
}

.filter-search {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  background-color: #81b3d2;
  background-image: url("../img/inner_bcg_.jpg");
  padding: 28px 70px;
}

.filter-search-options {
  display: flex;
}

.filter-list {
  list-style: none;
}

.filter-search fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.filter-search fieldset:first-child {
  padding: 0;
  margin-right: 122px;
}

.filter-search legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 23px;
}

.filter-list {
  margin: 0;
}

.filter-list label {
  position: relative;
  display: block;
  margin-bottom: 20px;
  cursor: pointer;
}

.filter-list-last-item label {
  margin-bottom: 0;
}

.filter-list-input-checkbox+label::before {
  content: "";
  position: absolute;
  left: -39px;
  top: 0;
  width: 25px;
  height: 25px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-list-input-checkbox:disabled+label::before {
  background-image: url("../img/checkbox-off-disabled.svg");
}

.filter-list-input-checkbox:checked+label::before {
  display: none;
}

.filter-list-input-checkbox:checked+label::after {
  content: "";
  position: absolute;
  left: -39px;
  top: 0;
  width: 25px;
  height: 25px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-list-input-checkbox:checked:disabled+label::after {
  background-image: url("../img/checkbox-on-disabled.svg");
}

.filter-search-price {
  width: 319px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-search-price-title {
  margin-bottom: 9px;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}

.filter-search-price-controls {
  position: relative;
  width: 318px;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
  box-sizing: border-box;
}

.filter-search-price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.filter-search-price-controls label {
  display: inline-block;
  vertical-align: bottom;
  font-size: 14px;
  line-height: 21px;
  cursor: pointer;
}

.filter-search-price-controls .min-price {
  width: 90px;
  padding-left: 63px;
  padding-top: 5px;
}

.filter-search-price-controls .max-price {
  width: 90px;
  padding-left: 56px;
}

.filter-search-price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.filter-search-range-controls {
  position: relative;
  margin-bottom: 32px;
}

.filter-search-range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.filter-search-range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(99, 100, 101, 1);
  cursor: pointer;
}

.range-toggle:hover,
.range-toggle:focus {
  border: 9px solid #ffffff;
  top: -10px;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.filter-search-btn {
  display: block;
  margin: 0;
  margin-left: 84px;
  padding-top: 6px;
  padding-bottom: 5px;
  padding-right: 32px;
  padding-left: 35px;
  background: transparent;
  line-height: 21px;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.filter-search-btn:hover,
.filter-search-btn:focus,
.filter-search-btn:active {
  background-color: #ffffff;
  color: #000000;
}

.sorting {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-right: 72px;
  padding-bottom: 28px;
  padding-left: 72px;
}

.sorting-text {
  display: flex;
}

.sorting-list-btn {
  position: relative;
}

.sorting-list-btn button {
  display: inline-block;
  vertical-align: middle;
  background-color: #ffffff;
}

.sorting-list-btn button:hover path,
.sorting-list-btn button:focus path {
  fill: black;
}

.sorting-list-btn button:active path {
  fill: #81b3d2;
}

.sorting-list-btn-active path {
  fill: #81b3d2;
}

.sorting-list-btn {
  position: relative;
  box-sizing: border-box;
}

.sorting-btn-up {
  position: absolute;
  border: 0;
  padding: 0;
  top: 7px;
  right: 23px;
}

.sorting-btn-down {
  position: absolute;
  border: 0;
  padding: 0;
  top: 7px;
  right: 2px;
}

.sorting h3 {
  font-size: 21px;
  white-space: nowrap;
  color: #000000;
  margin: 0;
  margin-right: 47px;
}

.sorting p {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  margin: 0;
  margin-right: 40px;
}

.sorting-list {
  display: flex;
  align-items: center;
  list-style: none;
  line-height: 18px;
  font-size: 12px;
  margin: 0;
  padding: 0;
  width: 249px;
  white-space: nowrap;
}

.sorting-list li:first-child,
.sorting-list li:nth-child(2) {
  margin-right: 32px;
}

.sorting-list a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

a.sorting-list-active {
  color: #81b3d2;
  border-bottom: none;
}

.sorting-list a:hover,
.sorting-list a:focus {
  color: #81b3d2;
}

.sorting-list a:active {
  color: #000000;
  border-bottom: none;
}

a.sorting-list-active:active {
  color: #81b3d2;
}

.hotels-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.hotels-list-item {
  display: flex;
  justify-content: space-between;
  padding-right: 72px;
  padding-left: 72px;
  padding-top: 25px;
  padding-bottom: 31px;
  border-top: 1px solid #e5e5e5;
}

.hotels-list-item:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.hotel {
  display: flex;
}

.hotel img {
  margin-right: 30px;
  align-self: flex-end;
  height: 90px;
}

.hotel-name {
  font-size: 21px;
  margin: 0;
  margin-bottom: 6px;
}

.hotel-name a {
  color: #000000;
}

.hotel-name a:hover,
.hotel-name a:focus {
  color: #81b3d2;
}

.hotel-name a:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-data {
  display: flex;
  margin-bottom: 10px;
}

.hotel-type {
  min-width: 110px;
  margin-right: 5px;
}

.hotels-btn {
  font-size: 0;
}

.hotel-more {
  display: inline-block;
  vertical-align: middle;
  width: 110px;
  font: inherit;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
  margin: 0;
  margin-right: 6px;
}

.hotel-more:hover,
.hotel-more:focus {
  background-color: #669ec0;
}

.hotel-more:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-book-btn {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 20px;
}

.hotel-rating {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.hotel-rating-img {
  background-image: url("../img/star.svg");
  background-repeat: space;
  background-position: left center;
  height: 21px;
  margin: 0;
}

.hotels-list-item:first-child .hotel-rating-img {
  width: 89px;
}

.hotels-list-item:nth-child(2) .hotel-rating-img {
  width: 65px;
}

.hotels-list-item:nth-child(3) .hotel-rating-img {
  width: 41px;
}

.hotel-rating-text {
  color: #666666;
  vertical-align: middle;
  text-align: center;
  line-height: 21px;
  font-size: 14px;
  background-color: #f2f2f2;
  margin: 0;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 14px;
  padding-right: 13px;
}
